In [1]:
d={"College":"SGGSWU","City":"Sirhind","course":"B.tech"}

In [2]:
print(d)

{'College': 'SGGSWU', 'City': 'Sirhind', 'course': 'B.tech'}

In [3]:
d["College"]="MGC"

In [4]:
d["contact no."]="9875667362"

In [5]:
d["College"]

'MGC'

In [6]:
print(d.keys())

dict_keys(['College', 'City', 'course', 'contact no.'])

In [7]:
print(d.values())

dict_values(['MGC', 'Sirhind', 'B.tech', '9875667362'])

In [8]:
print(d.items())

dict_items([('College', 'MGC'), ('City', 'Sirhind'), ('course', 'B.tech'), ('contact no.', '9875667362')])

In [9]:
print(d.get("College"))

MGC

In [10]:
d1 = {"College":"BFCET","City":"Ludhiana"}
d.update(d1)
print(d)

{'College': 'BFCET', 'City': 'Ludhiana', 'course': 'B.tech', 'contact no.': '9875667362'}

In [11]:
d.pop("City")
print(d)

{'College': 'BFCET', 'course': 'B.tech', 'contact no.': '9875667362'}

In [12]:
d.popitem()
print(d)

{'College': 'BFCET', 'course': 'B.tech'}

In [13]:
d.clear()
print(d)

{}

In [14]:
student={"Name":"Prabhjot","Age":20,"Grade":"AI"}
print(student)

{'Name': 'Prabhjot', 'Age': 20, 'Grade': 'AI'}

In [15]:
student["Age"]

20

In [16]:
student["Grade"]="A"

In [17]:
print(student)

{'Name': 'Prabhjot', 'Age': 20, 'Grade': 'A'}

In [18]:
student["subject"]=["AI"]

In [19]:
print(student)

{'Name': 'Prabhjot', 'Age': 20, 'Grade': 'A', 'subject': ['AI']}

In [20]:
dict1 ={"Name":"Ram","Age":20,"Grade":"A"}
print(dict1)

{'Name': 'Ram', 'Age': 20, 'Grade': 'A'}

In [21]:
dict2={"City":"Ludhiana","State": "Punjab","Grade":"A"}
print(dict2)

{'City': 'Ludhiana', 'State': 'Punjab', 'Grade': 'A'}

In [22]:
dict1.update(dict2)
merged_dict=dict1

In [23]:
print(merged_dict)

{'Name': 'Ram', 'Age': 20, 'Grade': 'A', 'City': 'Ludhiana', 'State': 'Punjab'}

In [24]:
dict1["Grade"]

'A'

In [25]:
print(student.values())

dict_values(['Prabhjot', 20, 'A', ['AI']])

In [26]:
print(student.keys())

dict_keys(['Name', 'Age', 'Grade', 'subject'])

In [27]:
print(student.items())

dict_items([('Name', 'Prabhjot'), ('Age', 20), ('Grade', 'A'), ('subject', ['AI'])])

In [28]:
print(student.get("Name"))

Prabhjot

In [29]:
print(student.pop("Grade"))

A

In [30]:
print(student)

{'Name': 'Prabhjot', 'Age': 20, 'subject': ['AI']}

In [31]:
print(["Name"in student])

[True]

In [32]:
len(student)

3

In [33]:
d2={"colleges":{"C1":"MGC","C2":"Sggswu","C3":"BBSBEC"},"Teachers":{"T1":"AI","T2":"ML"}}

In [34]:
d2["colleges"]["C1"]

'MGC'

In [35]:
print(sorted(student))

['Age', 'Name', 'subject']

In [36]:
d2["colleges"]["C2"]

'Sggswu'

In [37]:
age=int(input("Enter Your age: "))
if age>=18:
    print("Eligible")

Enter Your age: 18
Eligible

In [38]:
age=int(input("Enter Your age: "))
if age>=18:
    print("Eligible")
else:
   print("Not Eligible")

Enter Your age: 21
Eligible

In [39]:
age=int(input("Enter Your age: "))
if age>=20:
    print("Eligible")
elif age>=18:
  print("Graduate")

Enter Your age: 21
Eligible

In [40]:
marks=int(input("enter your marks: "))
if marks>=90:
  print("A Grade")
elif marks>=60 and marks<=90 :
  print("B Grade")
else :
  print("C Grade")

enter your marks: 67
B Grade

In [41]:
age=int(input("enter your age: "))
if age>=18 :
  print("eligible for vote")
  if age>=21 :
    print("eligible for marriage")
  else :
    print("not eligible for marraige")
else:
  print("Neither for marriage nor for vote")

enter your age: 25
eligible for vote
eligible for marriage

In [42]:
for i in range( 1,10) :
  print(i)

1
2
3
4
5
6
7
8
9

In [43]:
i=1
while i<10 :
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9

In [44]:
i=22
while  i > 15 :
  print(i)
  i-=1

22
21
20
19
18
17
16

In [45]:
i=2
while i<21 :
  print(i)
  i+=2

2
4
6
8
10
12
14
16
18
20

In [46]:
for i in range (0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [47]:
i=10
while i >= 1 :
  print(i)
  i-=1

10
9
8
7
6
5
4
3
2
1

In [48]:
for i in range(10,0,-1) :
  print(i)

10
9
8
7
6
5
4
3
2
1

In [49]:
for i in range(20,10,-1) :
  print(i)

20
19
18
17
16
15
14
13
12
11

In [50]:
for i in range (1,6) :
  print("  *" * i)

  *
  *  *
  *  *  *
  *  *  *  *
  *  *  *  *  *

In [51]:
i=1
while i <=5 :
  print(" * " * i)
  i+=1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [52]:
for i in range(5,0,-1) :
  print(" * " * i)

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [53]:
a="Prabhjot kaur "
for i in range(len(a)) :
  print(a[i])

P
r
a
b
h
j
o
t

k
a
u
r

In [54]:
list=[1,11,22,33,"prabh",55]
for i in range(len(list)) :
  print(list[i])

1
11
22
33
prabh
55

In [55]:
num = [1,2,3,4,5]
sum=0
for i in range(len(num)):
    sum+=num[i]
print(sum)

15

In [56]:
num=[1,2,3,4,5]
sub=0
for i in range(len(num)) :
   sub-=num[i]
print(sub)

-15

In [57]:
i=1
while i<100 :
  print(i)
  i+=2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [58]:
n=int(input( "enter no. :" ))
for i in range(n,0,-1) :
  print(i)

enter no. :2
2
1

In [59]:
n=int(input("enter no. :"))
sum=0
for i in range(n+1) :
  if i%2==0:
    sum+=i
  else:
    print(i)
print("Sum of even numbers is",sum)

enter no. :3
1
3
Sum of even numbers is 2

In [60]:
n=int(input("enter the number :"))
for i in range(1,11) :
  print(n*i)

enter the number :5
5
10
15
20
25
30
35
40
45
50

In [61]:
list1=[1,22,33,44,11,66]
product=1
for i in range(len(list1)) :
  product*=list1[i]
print(product)

23191344

In [62]:
n=int(input("Enter a number :"))
count=0
for i in range(n):
  if n>0:
    n//=10
    count+=1

print(count)

Enter a number :3456
4

In [63]:
list2=[11,22,33,109,55,99]
largest=list2[0]
length=len(list2)-1
i=0
while i<=length:
  if largest<list2[i] :
    largest=list2[i]
  i+=1
print(largest)

109

In [64]:
list2=[11,22,33,109,1,55,99]
smallest=list2[0]
length=len(list2)-1
i=0
while i<=length :
  if smallest > list2[i] :
    smallest=list2[i]
  i+=1
print(smallest)

1

In [65]:
a=input("enter any string : ")
i=0
n=len(a)
vowels=""
consonants=""
count_vowels=0
count_consonants=0
vowle_list=['a','e','i','o','u','A','E','I','O','U']
while i<n :
  if a[i] in vowle_list:
    vowels+=a[i]
    count_vowels+=1
  else:
    consonants+=a[i]
    count_consonants+=1
  i+=1
print(vowels)
print(count_vowels)
print(consonants)
print(count_consonants)

enter any string : prabh
a
1
prbh
4

In [66]:
stri="bndsg,bfc."
print(len(stri))

10

In [67]:
n=int(input("enter any no."))
factorial=1
i=1
while i<=n :
  factorial*=i
  i+=1
print(factorial)

enter any no.5
120

In [68]:
a=input("enter any string :")
i=0
n=len(a)
isPallindrome= False
while i<n :
  if a[i]==a[n-1]:
    isPallindrome=True
    i+=1
    n-=1
if isPallindrome==True :
  print("given string is Pallindrome")
else:
  print("Given string is not Pallindrome")

enter any string :nitin
given string is Pallindrome