In [ ]:
def greet(name):
  print(f'welcome {name}')

In [ ]:
greet("Prabhjot")

welcome Prabhjot

In [ ]:
add=lambda x,y:x+y
print(add(5,6))

11

In [ ]:
product=lambda x,y:x*y
print(product(5,6))

30

In [ ]:
divide=lambda x,y:x/y
print(divide(4,2))

2.0

In [ ]:
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)

In [ ]:
fact(5)

120

In [ ]:
fact(4)

24

In [ ]:
def fibonacciseries(x):
  if x==0:
    return 0
  elif x==1:
    return 1

  else :
      return fibonacciseries(x-1)+fibonacciseries(x-2)
numberofterms=int(input("enter no of terms"))
for i in range(numberofterms)  :
  print(fibonacciseries(i),end=" ")

enter no of terms4
0 1 1 2

In [ ]:
def stringReverse(x) :
  for i in range(len(x)-1,-1,-1) :
    print(x[i],end="")
stringReverse("prabhjot")

tojhbarp

In [ ]:
def largestinlist(x) :
  largest=x[0]
  for i in range(1,len(x)-1) :
      if largest<x[i] :
        largest=x[i]
  return largest

In [ ]:
largestinlist([11,22,66,88,33,44])

88

In [ ]:
def even_no(x):
  n=len(x)

  for i in range(0,n) :
    if x[i]%2==0 :
      print(x[i],end=" ")

In [ ]:
even_no([1,2,3,4,5,6,7,8,10])

2 4 6 8 10

In [ ]:
def isPallindrome(x):

  if x==x[::-1] :
    print ("Pallindrome")
  else:
    print("Not Pallindrome")

In [ ]:
isPallindrome("NITIN")

Pallindrome

In [ ]:
isPallindrome("Madam")

Not Pallindrome

In [ ]:
def student_details(x):
  for i in range(len(x)) :
    if x["Age"][i]>=18 :
      print(x["Name"][i],end =" ")

In [ ]:
student_details({"Name":["Prabhjot","Rohan"],"Age":[19,17]})

Prabhjot

In [ ]:
def sum_of_squares(x):
  sum=0
  for i in range(1,x+1) :
    sum=sum+(i*i)
  return sum

In [ ]:
sum_of_squares(5)

55

In [ ]:
def list_of_strings(x):
  for i in range(len(x)) :
    x.sort()
  print(x)

In [ ]:
list_of_strings(["prabhjot","rohan","rohit", "anmol"])

['anmol', 'prabhjot', 'rohan', 'rohit']

In [ ]:
def unique_elements(x):
  y=[]
  for i in range(len(x)) :
    y=list(set(x))
  print(y)

In [ ]:
unique_elements([1,2,3,4,5,61,2,3,2,4])

[1, 2, 3, 4, 5, 61]

In [ ]:
def Occurences(x) :
  d={}
  for i in range(len(x)) :
    if x[i] in d :
      d+=x[i]
    else :
      d[i]=1
  print(d)
string=input("enter any string")
Occurences(string)

enter any stringprabh
{0: 1, 1: 1, 2: 1, 3: 1, 4: 1}

In [ ]:
def average(x) :
  sum=0
  for i in range (len(x)):
    sum+=x[i]

  print(sum/len(x))

In [ ]:
average([1,2,3,4,5,6])

3.5

In [ ]:
def leap_year(x) :
  if  x%4==0 :
    print("Leap Year")
  else :
    print("Not Leap Year")

In [ ]:
leap_year(2024)

Leap Year

In [ ]:
def stringlist(x):
  str2=[]
  for i in range(len(x)):
    if len(x[i])>=5 :
      str2+=x[i]
    else :
      str2=x[i]
  print(str2, end="")

In [ ]:
stringlist(["prab","Computer","Science","Artificial"])

prabComputerScienceArtificial

In [ ]:
def primenumber(x):
  for i in range(2,x) :
    if x %i==0 :
      print("its not a prime no.")
    else :
      print(" its a prime number")

In [ ]:
primenumber(3)

 its a prime number

In [ ]:
def reversesentence(x):
  y=" "
  for i in range(len(x)-1,-1,-1):
    y+=x[i]
  print(y)

In [ ]:
reversesentence("I am learning python")

 nohtyp gninrael ma I

In [ ]:
def is_pallindrome(x):
  n=len(x)

  ispallindrome=False
  for i in range(n) :
    if x[i] == x[n-1] :
      ispallindrome=True
    else :
      ispallindrome=False
  if ispallindrome:
    print("Pallindrome")
  else :
    print("Not Pallindrome")
x="Wow"
print(x.lower())
is_pallindrome(x)

wow
Pallindrome

In [ ]:
def second_largest(x) :
  x.sort()
  print(x[-2])
second_largest([1,2,3,4,5,6])

5

In [ ]:
def count_vowels(x) :
  vowels=["a","i","e","o","u","A","I","E","O","U"]
  count=0
  for i in range(len(x)):
    if x[i] in vowels:
      count+=1
    else:
      None
  return count
s=input("enter any string :")
count_vowels(s)

enter any string :prabh

1

In [ ]:
sum=lambda x,y,z : x+y+z
print(sum(4,6,3))

13

In [ ]:
def detail(**data) :
  print(data.keys())
detail(name="prabh",age=19,city="ludhiana")

dict_keys(['name', 'age', 'city'])

In [ ]:
def info(*details) :
  print(details[0])
info(1,2,3,4)

1

In [ ]:
def sum(n) :
  if n==0 :
    return 0
  else :
    return n + sum(n-1)
sum(5)

15

In [ ]:
def subtract(n) :
  if n==0 :
    return 0
  else:
    return n - subtract(n-1)
subtract(3)

2

In [ ]:
def factorial(n):
  if n==0 :
    return 1
  else :
    return n*factorial(n-1)
factorial(5)

120

In [ ]:
def fibonacci_series(x) :
  if x==0 :
    return 0
  elif x==1 :
    return 1
  else :
    return fibonacci_series(x-1) + fibonacci_series(x-2)
numberofterms=int(input("enter no of terms"))
for i in range(numberofterms)  :
  print(fibonacci_series(i),end=" ")

enter no of terms8
0 1 1 2 3 5 8 13

In [ ]:
for i in range(1,11) :
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
def reversesentence(x):
  y=" "
  for i in range(len(x)-1,-1,-1):
    y+=x[i]
  print(y)
reversesentence ("I am learning Python")

 nohtyP gninrael ma I