In [ ]:
age=int(input("Enter Your Age: "))
if age>=18 :
  print("You are an adult")
else:
  print("you are minor")

Enter Your Age: 29
You are an adult

In [ ]:
temperature=int(input("enter temperature: "))
if temperature<0 :
  print(" its Freezing")
else:
  print("its not freezing")

enter temperature: 26
its not freezing

In [ ]:
score =int(input("enter your score : "))
if score > 90 :
  print( " A grade")
elif score <90 and score>80 :
    print( "B grade")
else:
  print("C Grade")

enter your score : 78
C Grade

In [ ]:
a= int(input(" enter number a : "))
b= int(input(" enter number  b: "))
if a==b :
  print(" a is equal to b")
else :
  print("a is not equal to b")

 enter number a : 12
 enter number  b: 34
a is not equal to b

In [ ]:
number = int(input(" enter any number : "))
if number % 2==0 :
  print( " even number")
else :
  print(" odd number")

 enter any number : 24
 even number

In [ ]:
day = str(input( "enter day : " ))
if day ==["Sunday","sunday","Saturdar","saturday"] :
  print(" Weekend")
else :
  print(" Weekday")

In [ ]:
2marks = int(input(" enter marks :"))
if marks > 75 :
  print("Distinction")
elif marks >= 50 and marks <75 :
  print( " pass")
else :
  print(" fail")

 enter marks :78
Distinction

In [ ]:
speed = int(input( "enter speed : "))
if speed> 120 :
  print("over speed limit")
else :
  print("within speed limit")

enter speed : 230
over speed limit

In [ ]:
year=int(input(" enter year :"))
if year % 4==0 :
  print("leap year")
else :
  print("not leap year")

 enter year :2024
leap year

In [ ]:
char =(input(" Enter Character :"))
char.lower()
if char=="a" or char=="e" or char=="i" or char=="o" or char=="u" :
  print("vowel")
else :
  print("consonant")

 Enter Character :p
consonant

In [ ]:
x = int(input(" enter x : "))
y= int(input(" enter y :"))
if x>0 and y>0 :
  print( " positive no.")
else :
  print(" atleast one is positive")

 enter x : 12
 enter y :13
 positive no.

In [ ]:
time = float(input(" enter time : "))
if time >6 and time <12 :
  print( " good morning")
elif time > 12 and time<18:
  print("good afternoon")
else :
  print("good night")

 enter time : 12.30
good afternoon

In [ ]:
budget = int(input(" enter budget : "))
price = int(input(" enter price : "))
if budget >= price :
  print(" purchase possible")
else :
  print(" not possible")

 enter budget : 1200
 enter price : 1100
 purchase possible

In [ ]:
username=str(input(" enter username :"))
if username==" " :
  print("invalid username")
else :
  print("valid username")

 enter username :prabhjot
valid username

In [ ]:
height=int(input(" enter height : "))
weight = int(input(" enter weight "))
bmi= float(weight/height)
print(bmi)
if bmi < 18.5 :
  print( " under weight")
elif bmi >18.5 and bmi <24.9:
  print("normal weight")
else:
  print ( "overweight")

 enter height : 157
 enter weight 47
0.29936305732484075
 under weight

In [ ]:
password=input(" enter password : ")
if len(password)>=8 :
  print("valid password")
else :
  print("invalid password")

 enter password : prabhjot
valid password

In [ ]:
grade=input(" enter grade : ")
if grade=="A" :
  print("excellent")
elif grade=="B" :
  print("good")
elif grade=="C" :
  print("average")
elif grade== "D" :
  print (" Poor")

 enter grade : A
excellent

In [ ]:
month= str(input(" enter month : "))
if month=="December" or month==" January" or month ==" Feburary" :
  print("Winter")
elif month=="June" or month=="july" or month=="August" :
  print("Summer")
else :
  print(" other season")

 enter month : March
 other season

In [ ]:
balance = int(input(" enter balance : "))
if balance>=1000 :
  print("Sufficient Balance")
else :
  print(" insufficient balance")

 enter balance : 120000
Sufficient Balance

In [ ]:
number = int(input(" enter number : "))
if number<0 :
  print("negative number")
elif number>0:
  print("Positive number")
else :
  print("zero")

 enter number : 12
Positive number

In [ ]:
ticket_type=str(input(" enter ticket type : "))
if ticket_type=="VIP":
  print("Access to VIP Lounge")
else :
  print()

 enter ticket type : VIP
Access to VIP Lounge

In [ ]:
age=int(input(" enter age : "))
if age >=65 :
  print("Eligible for senior citizen")

 enter age : 67
Eligible for senior citizen

In [ ]:
color = str(input(" enter color : "))
if color  =="Red" :
  print(" Stop")
elif color=="Green" :
  print("Go")
elif color=="Yellow" :
  print("Wait")

 enter color : Green
Go

In [ ]:
temperature = int(input( " enter temperature : "))
if temperature >100 :
  print( " Above Boiling point")
else :
  print( " below boiling point")

 enter temperature : 25
 below boiling point

In [ ]:
loanammount = int(input( "enter amount :" ))
if loanammount > 50000 :
  print( "Approval requires High Authority")
else :
  print("loan Approved")

enter amount :70000000
Approval requires High Authority

In [ ]:
attendance= int(input(" enter attendance : "))
if attendance >= 75 :
  print ( " Eligible to Appear in Exam")
else :
  print(" not eligible")

 enter attendance : 70
 not eligible

In [ ]:
membershipstatus=str(input("enter status : "))
if membershipstatus=="Gold" :
  print("Premium member")
elif membershipstatus=="Silver" :
  print("Regular member")
elif membershipstatus=="Bronze" :
  print("Basic member")

enter status : Gold
Premium member

In [ ]:
age=int(input(" enter age : "))
if age > 13 and age <19 :
  print ( " Teenager")
else :
  print(" Not a teenager")

 enter age : 15
 Teenager

In [ ]:
income=int(input("Enter income : "))
if income > 100000 :
  print(" high Income")
elif income >50000 and income<100000 :
  print("middle income")
elif income <50000 :
  print(" low income")

Enter income : 6000000
 high Income

In [ ]:
fuel_level=int(input("enter fuel level : "))
if fuel_level < 10:
  print("Low Fuel Warning")
else :
  print("Fuel is sufficient")