In [ ]:
'''Question 1 two variables and b having integer values.
use Arithmetic Operators'''
a=12
b=30

In [ ]:
#sum of a And b
print(a+b)

42

In [ ]:
#difference of a and b
print(a-b)

-18

In [ ]:
#product of a and b
print(a*b)

360

In [ ]:
#quotient of a and b(floor division)
print(b//a)

2

In [ ]:
'''Question 2 Given a variable x containing an integer value
use the modulus to check if variable is even or odd'''
#odd
x=15
print(x%2)

1

In [ ]:
#even
print(a%2)

0

In [ ]:
''' 3 Use comparison operators
 to check if a is greater than b'''
print(a<b)

True

In [ ]:
print(a>b)

False

In [ ]:
print(a==b)

False

In [ ]:
print(a!=b)

True

In [ ]:
print(a>=b)

False

In [ ]:
print(a<=b)

True

In [ ]:
''' 4. given two boolean variables p and q
use logical operators'''
p=True
q=False
r= True
result = (p and q)
result1 = (p and r)
print (result)
print(result1)

False
True

In [ ]:
print(p or q)

True

In [ ]:
print(not p)

False

In [ ]:
'''5. having variable n containing integer value
use Bitwise operator  And ,or ,xor to perform with another variable m'''
n=40
m=60
#And
print(n & m)

40

In [ ]:
#Or
print(n|m)

60

In [ ]:
#Xor
print(n^m)

20

In [ ]:
'''6. given a variable y containing floating point number
use floor  division to divide y by 2'''
y=12.45
print(y//2)

6.0

In [ ]:
'''7.Two strings str1 and str2
use the concatenation operator to join these strings'''
str1 ="Prabhjot"
str2=" kaur"
print(str1+str2)

Prabhjot kaur

In [ ]:
'''8. given a variable z containing an integer
 use increment operator to increase its value by 1'''
z=17
z+=1
print(z)

18

In [ ]:
'''9. you have a list my_list and a value val.
 use the in operator to check if value is present in my_list'''
my_list=[1,2,"val","prabh",3,4]
print("val"in my_list)

True

In [ ]:
'''10. Given two variables a and b use Assignment operator
to assign the value of a to b'''
a=12
b=30
b=a
print(a)

12

In [ ]:
''' 11 you have two variables x and y containing integer
 values. use compound assignment operator to add y to x'''
x=12
y=30
x+=y
print(x)

42

In [ ]:
''' 12 given a variable num containing integer value
use bitwise left shift operator to shift by 2'''
num=20
print(num<<2)

80

In [ ]:
''' 13 . you have a string text and an integer n use the repetition operator to repeat text n times'''
text="Prabhjot"
n=5
print(text*n)

PrabhjotPrabhjotPrabhjotPrabhjotPrabhjot

In [ ]:
'''14. given two variables  a and b
use  comparison operator to check if a is equal to b and if a is not equal to b'''
a=12
b=30
print(a==b)
print(a!=b)

False
True

In [ ]:
'''15 given two variables x and y use
bitwse Right shift operator to shift by 3 bits'''
x=15
y=30
print(x>>3)

1

In [ ]:
''' 16 given a boolean variable flag
use logical operator to check if flag is true'''
flag=True
print(flag==True or flag == False)

True

In [ ]:
'''17 you have a variable price containing float value
use floor division to calculate how many whole units you can get'''
price= 455.78
print(price//5)

91.0

In [ ]:
'''18. given two sets set1 and set2 use the union operator to combine them'''
set1={22,33,44,55}
set2={11,22,33,66,77,88}
print(set1.union(set2))

{33, 66, 11, 44, 77, 22, 55, 88}

In [ ]:
''' 20 .given two variables a and b use comparison
operators to check if a is less than or equal to b'''
a=12
b=30
print(a<=b)

True

In [ ]:
''' 21. you have  a string s and character c  use the in operator to check if c is present in s'''
s="Prabhjot"

print("c" in s)

False

In [ ]:
'''22. given a variable num containing
an integer value use bitwise not to invert its bits'''
num=20
print(~(num))

-21

In [ ]:
''' 23. you have a list numbers and a value x .use
the multiplication operator to multiply each element in the list by x '''
numbers=[1,2,3,4,5]
x=3
print(numbers*x)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
''' 24. given two variables a and b use
logical operator to evaluate a And not b'''
a1=True
b1=False
print(a1 and not b1)

True

In [ ]:
''' 25. given two variable
 modulus operator to find the remainder'''
c=15
d=4
print(c%d)

3

In [ ]:
'''  26. given a variable t
use exponentiation operator to calculate t raised to power 3'''
t=10
print(t**3)

1000

In [ ]:
''' 27. you have a string str1 and an integer n. use the slicing to get the first n characters of the string'''
str1= "Computer science"
n=4
print(str1[:5])

Compu

In [ ]:
'''28. given two lists, list1 and list2 use concatentaion operator to merge these two'''
list1=["prabh",11,22,"computer","python"]
list2=["science",33,44,"jot"]
print(list1 + list2)

['prabh', 11, 22, 'computer', 'python', 'science', 33, 44, 'jot']

In [ ]:
'''30. given a variable x containing an integer use decrement operator to decrease its value by 1'''
x=12
x-=1
print(x)

11